---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../components/products/cardCategory';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import PromoSectionLarge from '../components/promo/promoSectionLarge';
import CardProduct from '../components/products/cardProduct';
import ProductQuickview2 from '../components/products/productQuickview2';
import ProductQuickview from '../components/products/productQuickview2';

---



<Layout title="Delipostres">
  
  <main>
    <Navbar />
    <PromoSectionLarge 
      title={"DeliPostres"}
      full_description={data.products[0].full_description ?? ""}
      pageHeaderBgImg={"../ImagesDeli/Generalportada.jpg"} 
      pageHeaderMinVh="70vh"
      pageHeaderRadius="0rem"
    />

    <div class="container my-3">
      <div class="d-block text-center mb-5">
       
       <!--  {data.categories.slice(0, 3).map(category => 
          <div class="col-md- col-lg-4">
            
            <a href={`/delipostres/productos/${category.title.toLowerCase().replace(/\s+/g, '-')}`}>
              <CardCategory
                thumb_src={category.thumb_src}
                collection={category.collection}
                title={category.title}
                classList=""
                cta=""
              />
            </a>
          </div>
        )} -->

      </div>
      <div class="row mb-8">
        <div class="d-block text-center mb-5">
        <h3>Categorías</h3>
        
        <!-- <div class="w-20 w-md-10 mt-4 mt-md-0"></div>
        <input type="number" min="0" class="form-control" placeholder="1" aria-label="amount"></input>
 -->

        <a class="text-dark font-weight-bold" href="#">Elije Entre Nuestros Deliciosos Postres</a>
        </div>
        <div class="col-md-6 col-lg-3">
        <a href="#DGalleta"><div class="card card-background align-items-start mb-4 mb-lg-0 undefined"><div class="full-background" style="background-image:url(/delipostres//ImagesDeli/Galletasportada.jpg);background-size:cover"></div><div class="card-body text-center w-100 pt-8"><div class="d-block mt-10"><h4 class="text-white font-weight-bolder">Galletas</h4><p class="text-white font-weight-bold mb-1">¡Degusta Nuestras Deliciosas Galletas!</p><a href="#" class="text-white text-sm font-weight-semibold mb-0">Click&gt;</a></div></div></div></a>
        </div><div class="col-md-6 col-lg-3">
        <a href="#DTortas"><div class="card card-background align-items-start mb-4 mb-lg-0 undefined"><div class="full-background" style="background-image:url(/delipostres//ImagesDeli/Tortaportada.jpg);background-size:cover"></div><div class="card-body text-center w-100 pt-8"><div class="d-block mt-10"><h4 class="text-white font-weight-bolder">Tortas</h4><p class="text-white font-weight-bold mb-1">¡Chocolate, Vainilla y Otras Delicias!</p><a href="#" class="text-white text-sm font-weight-semibold mb-0">Click &gt;</a></div></div></div></a>
        </div><div class="col-md-6 col-lg-3">
        <a href="#DPostres"><div class="card card-background align-items-start mb-4 mb-lg-0 undefined"><div class="full-background" style="background-image:url(/delipostres//ImagesDeli/Postresportada.jpg);background-size:cover"></div><div class="card-body text-center w-100 pt-8"><div class="d-block mt-10"><h4 class="text-white font-weight-bolder">Postres Tradicionales</h4><p class="text-white font-weight-bold mb-1">¡Ser Venezolano Nunca Había Sido Tan Delicioso!</p><a href="#" class="text-white text-sm font-weight-semibold mb-0">Click &gt;</a></div></div></div></a>
        </div>
        </div>



    <PromoSectionLarge 
      title="¡Promoción de la semana!"
      full_description={data.products[4].full_description ?? ""}  
      pageHeaderBgImg={"../ImagesDeli/Tortapiñata.jpg"} 
      pageHeaderMinVh="70vh"
      pageHeaderRadius="3rem"
    /> <!-- Trae la data con "data.products y el numero dentro del cuadro determina cual producto trae-->

    <div class="row">
    
    
    <main>
     
      
    
      <div id="DGalleta">
        <h2>Galletas</h2>
      </div>

      <hr class="dark horizontal my-2" />
      <div class="row mt-5">
        
      <div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-4 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Galleta Choco Explosion.jpg" alt="Galleta-ChocoExplosion" /></div><div class="card-body text-center"><h6 class="text-md mb-1 text-body"/h><h4 class="font-weight-bold">Galleta Choco explosión</h4><p class="text-body">Galleta caliente rellena con centro de arequipe y cubierta de azucar canela</p><div></div><h4 class="mb-0 text-lg mt-1 mb-0">$<!-- -->1</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
        <div class="card card-product border mb-4 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Galleta Choco Explosion.jpg" alt="Galleta-ChocoExplosion" /></div><div class="card-body text-center"><h6 class="text-md mb-1 text-body"/h><h4 class="font-weight-bold">Galleta Dulce Avena</h4><p class="text-body">Galleta de 115 gr horneada con copos de avena</p><div></div><h4 class="mb-0 text-lg mt-1 mb-0">$<!-- -->1</h4></div></a></div>
        </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Galleta Churro arequipe.avif" alt="Galleta-ChurroArequipe" /></div><div class="card-body text-center"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Galleta  Churro Arequipe</h4><p class="text-body">Galleta de 115gr con chocolate chips.</p><div></div><h4 class="mb-0 text-lg mt-1 mb-0">$<!-- -->1</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"></a><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Red-velvet1.jpeg" alt="Galleta-RedVelvet" /></div><div class="card-body text-center"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Galletas red velvet</h4><p class="text-body">Galleta caliente de 115 gr rellena de nutella.</p><div> <h5 class="mb-0 text-lg mt-1 mb-0">$<!-- -->1</h5> 
        
        <ProductQuickview2

        img class="w-100 rounded-3 mb-4 mt-5 mt-lg-0" thumb_src={data.products[8].thumb_src}
        title={data.products[8].title}
        price={data.products[8].price}
        rating={data.products[8].rating}
        sizes={data.products[8].sizes}
        
        />

        

    </div></a></div>
      </div><div class="col-md-6 col-lg-3">
      </div>
      </div>
      
      <div id="DTortas">
        <h2>Tortas</h2>
      </div>

      <hr class="dark horizontal my-2" />

      <div class="container mt-3"></div>
      <div class="row">
      <div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Torta tres leches.jpg" alt="watch-image" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Torta De Tres Leches</h4><p class="text-body">Torta de vainilla rellena con crema pastelera</p><div></div><h4 class="mb-0 text-lg mt-6 mb-0">$<!-- -->399</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Torta de vainilla rellena.jpg" alt="watch-image" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Torta De Vainilla Rellena</h4><p class="text-body">Torta fría de  vainilla remojado en mezcla de 3 leches, cubierta con merengue y canela.</p><div></div><h4 class="mb-0 text-lg mt-1 mb-0">$<!-- -->1,490</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/RFB-3003-4-tortapinata.webp" alt="iMac-image" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Torta Piñata</h4><p class="text-body">Torta mediana de 600 gr de chocolate rellena de vainilla y chocolates M&M con cobertura de nevado.</p><div></div><h4 class="mb-0 text-lg mt-1 mb-2">$<!-- -->1,399</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Torta de chocolate.jpg" alt="iPhone_thumb" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Torta De Chocolate Con Mousse</h4><p class="text-body">Torta de chocolate derretido con mousse de Nutella decorada con chips de chocolate negro</p><h4 class="mb-0 text-lg mt-1 mb-0">$<!-- -->1,599</h4></div></a></div>
      </div>
      </div>
      
      <div id="DPostres">
        <h2>Postres Tradicionales</h2>
      </div>
      <hr class="dark horizontal my-2" />

      <div class="container mt-3"></div>
      <div class="row">
      <div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Palmeritas.jpg" alt="watch-image" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Palmeritas de chocolate</h4><p class="text-body">Galletas de 50gr cada una hojaldradas de mantequilla</p><div></div><h4 class="mb-0 text-lg mt-0 mb-0">$<!-- -->1</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Marquesa de chocolate.jpeg" alt="watch-image" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Porción de Marquesa de Chocolate</h4><p class="text-body"> Arroz cocido en leche con canela</p><div></div><h4 class="mb-0 text-lg mt-1 mb-3">$<!-- -->3</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Arrozconleche.jpg" alt="iMac-image" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Porción Arroz con leche</h4><p class="text-body"> Arroz cocido en leche con canela y vainilla.</p><div></div><h4 class="mb-3 text-lg mt-4 mb-0">$<!-- -->2</h4></div></a></div>
      </div><div class="col-md-6 col-lg-3">
      <div class="card card-product border mb-5 shadow-xs border-radius-lg"><a href="#"><div class="height-400"><img class="w-100 h-100 p-0 rounded-top" src="../ImagesDeli/Quesillo.jpg" alt="iPhone_thumb" /></div><div class="card-body text-left"><h6 class="text-md mb-1 text-body"></h6><h4 class="font-weight-bold">Porción de Quesillo</h4><p class="text-body">Porción de quesillo, elaborada con una mezcla suave y jugosa de diferentes ingredientes.</p><h4 class="mb-0 text-lg mt-1 mb-0">$<!-- -->3</h4></div></a></div>
      </div>
      </div>
  

    <!-- {data.categories.filter(category => category.title !== "Postres Tradicionales").map(category => (
        <div class="col-md-6 col-lg-3">
          <h3 class="mb-4">{category.title}</h3>
          <div class="row">
            <div class="col-12">
              {data.products.filter(product => product.category === category.title).map(product => (
                <CardProduct 
                  thumb_src={product.thumb_src}
                  thumb_alt={product.thumb_alt}
                  color={product.color}
                  title={product.title}
                  price={product.price}
                  position="left"
                />
              ))}
            </div>
          </div>
        </div>
      ))} -->
   
        
      </div>
      
      

      
      
    </div>
  
    
  <hr class="dark horizontal my-5" />
  <div class="container">
    <div class="left">
      <div class="col-12">
        <h3>Sobre Nosotros</h3>
      
        
        <style>
  .grande {
    font-size: 24px; /* Tamaño de fuente personalizado */
    /* Puedes ajustar el tamaño de fuente según tus preferencias */
  }
</style>

<h5 class="pequeño">- En el corazón de Maracaibo, Delipostres comenzó hace más de cinco años como un sueño compartido por un grupo de amantes de la repostería. Desde entonces, hemos dedicado nuestro tiempo a endulzar los días de nuestra comunidad con una amplia variedad de postres, tortas y galletas que reflejan la rica tradición culinaria venezolana.</h5>

<h5 class="pequeño">- En Delipostres, nuestra misión es crear momentos de alegría y conexión a través de nuestros deliciosos postres, tortas y galletas. Nos esforzamos por ofrecer productos de alta calidad que deleiten los sentidos y hagan que cada cliente se sienta especial.</h5>

<h5 class="pequeño">- Compromiso con el cliente: Nuestros clientes son nuestra máxima prioridad, y nos comprometemos a ofrecer un ser

  <hr class="dark horizontal my-5" />


        <div class="row mb-5">
          <div class="d-block text-center mb-5">  
            
        <h3>Somos DeliPostres</h3>
        <a class="text-dark font-weight-bold" href="#">Endulzando Tu Vida</a>
        </div>
        <div class="col-md-6">
        <div class="card card-background align-items-start mb-4 mb-lg-0 h-100"><div class="full-background" style="background-image:url(/ImagesDeli/Tiad.jpeg);background-size:cover"></div><div class="card-body align-items-end d-flex"><div class="d-block mt-10"><p class="text-white font-weight-bold mb-1"></p><h4 class="text-white font-weight-bolder">Chef Victoria Delliponti</h4><a href="#" class="text-white text-sm font-weight-semibold mb-0">Nuestra Dedicada Chef Principal Y La Cabeza De Esta Gran Familia </a></div></div></div></a>
        </div>
        <div class="col-md-6">
        <div class="mb-4">
        <div class="card card-background align-items-start mb-4 mb-lg-0 "><div class="full-background" style="background-image:url(/ImagesDeli/Cocina.webp");background-size:cover"></div><div class="card-body align-items-end d-flex"><div class="d-block mt-10"><p class="text-white font-weight-bold mb-1"></p><h4 class="text-white font-weight-bolder">Donde Se Hace La Magia</h4><a href="#" class="text-white text-sm font-weight-semibold mb-0">Poniendo El Corazón En Cada Postre</a></div></div></div></a>
        </div>
        <div class>
        <div class="card card-background align-items-start mb-4 mb-lg-0 "><div class="full-background" style="background-image:url(/ImagesDeli/Cliente.webp");background-size:cover"></div><div class="card-body align-items-end d-flex"><div class="d-block mt-10"><p class="text-white font-weight-bold mb-1"></p><h4 class="text-white font-weight-bolder">Dulces Gustos</h4><a href="#" class="text-white text-sm font-weight-semibold mb-0">Siendo Preferencia Para El Paladar De Nuestros Clientes</a></div></div></div></a>
        </div>
        </div>
        </div>
        <div class="d-block text-center mb-5">
          
          <button type="button" class="btn btn-dark w-auto" data-bs-toggle="modal" 
          data-bs-target="#Mapa">Haz click aquí y consigue la ubicacion</button>
          <div class="modal fade" id="Mapa" role="dialog" 
          aria-labelledby="productModal-undefinedLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="card card-product">
                        <div class="card-body d-block d-lg-flex p-4">
                            <button type="button" class="btn-close text-dark position-absolute end-0 me-4" 
                            data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        <div class="w-100 w-lg-95 text-center left-padding-40">
                            <div id="map" style="height: 500px;  width:100%; ">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <script src="../api/script"></script>
        <script is:inline >
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
            key: "AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik",
            // Add other bootstrap parameters as needed, using camel case.
            // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
          });</script>


  <Footer />

  </div>
</main>